<!doctype html>
<html>
  <head>
    <title>Weather Server</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/json">Json</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/weather">Weather</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/light">Light</a>
        </li>
      </ul>
    </nav>

    <div class="container">
      <div class="row">
        <div id="g1" class="col-sm"></div>
        <div id="g2" class="col-sm"></div>
        <div id="g3" class="col-sm"></div>
      </div>
      <div class="row">
        <div id="g4" class="col-sm"></div>
        <div id="g5" class="col-sm"></div>
        <div id="g6" class="col-sm"></div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/raphael-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/justgage.js') }}"></script>

    <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        const g1 = new JustGage({
          id: "g1",
          value: {{temperature}},
          min: 0,
          max: 40,
          decimals: 2,
          title: "Temperature",
          gaugeWidthScale: 0.5
        })

        const g2 = new JustGage({
          id: "g2",
          value: {{humidity}},
          min: 0,
          max: 100,
          decimals: 2,
          title: "Humidity",
          gaugeWidthScale: 0.5
        })

        const g3 = new JustGage({
          id: "g3",
          value: {{light}},
          min: 0,
          max: 10000,
          decimals: 2,
          title: "Light",
          gaugeWidthScale: 0.5
        })

        const g4 = new JustGage({
          id: "g4",
          value: {{uv_index}},
          min: 0,
          max: 10,
          decimals: 2,
          title: "UV Index",
          gaugeWidthScale: 0.5
        })

        const g5 = new JustGage({
          id: "g5",
          value: {{uva}},
          min: 0,
          max: 100,
          decimals: 2,
          title: "UVA",
          gaugeWidthScale: 0.5
        })

        const g6 = new JustGage({
          id: "g6",
          value: {{uvb}},
          min: 0,
          max: 100,
          decimals: 2,
          title: "UVB",
          gaugeWidthScale: 0.5
        })
      })

      setTimeout(() => {
        window.location.reload()
      }, 3000)
    </script>
  </body>
</html>
